<!-- Footer For Health and Gen Store -->

<footer class="bg-secondary p-3 mt-5" style="font-size: 20px;">
    <div class="text-center text-white my-3">Email : <a class="text-white text-decoration-none" href="mailto:sanjayzrk3@gmail.com ">sanjayzrk3@gmail.com </a>| Contact Number : <a class="text-white text-decoration-none" href="tel:+8427224992">+91 8427224992</a> , <a class="text-white text-decoration-none" href="tel:+7347299512">+91 7347299512</a></div>
    <div class="text-center text-white my-3">&copy; Copyright | Health&Gen Store | All Rights Reserved</div>
</footer>