<!-- About Us Page For Healt and Gen Store -->

<!-- Including Layout File -->
<%- include('Layouts/layout.ejs') %>

<!-- About Us -->
<section class="about m-auto my-5">
    <h1 class="text-center">About Us</h1>
    <p style="font-size: 20px;" class="my-3 mb-4">Health&Gen Store is a Health and General items store. We deal with  all items related to Health such as Medical Items and Gym Equipments and also in the basic General Items used  in Day-to-Day Life at home or at hospitals or somewhere else. Our Health Items Section basically include the various Machines such as Physiological Machines which are used for rehabilation after an injury or also to prevent an injury. Next we have Cardiology Machines which are used basically for diagnosing and treating heart problems. Then in the Health Section we have Radiology Machines that are used to diagnose or treat patients by recording images of the internal structure of the body to check for any disease or foreign objects or any structural damage in the body. We also have Fitness and Gym related Items and Machines such as Treadmill, Multifunctional Station in our Health Section. In our General Items Section we have all the basic items such as Handwash, Cotton Rolls, Thermometer, Mask and other such things that are used in Day-to-Day life anywhere be it home or hospitals or office. So if you  want any Medical Items or Machines and any Gym Item or Machine or any General Item you can find them here.</p>
    <img style="width: 15%; margin: auto; display: block;" src="/static/images/Logo.jpeg" class="img-fluid rounded-circle img-thumbnail" alt="Our Logo">
    <h2 class="text-center"><span style="color: blue;">Health</span><span style="color: red;">&</span><span style="color: green;">Gen</span> <span style="color: rgb(61, 61, 61);">Store</span></h2>
</section>

<!-- Including Footer File -->
<%- include('Layouts/footer.ejs') %>

<!-- JS -->
<script>
    // Active Link
    document.getElementById('about').classList.add('active-link')
</script>